@model List<InstructorViewModel>
<div class="list-group mt-4">
    <a class="list-group-item list-group-item-action"
       asp-area=""
       asp-controller="EducationShop"
       asp-action="ProductList"
       asp-route-instructorurl=""
       asp-route-categoryurl="">Tüm Yazarlar</a>
    @foreach (var instructorViewModel in Model)
    {
        <a class="list-group-item list-group-item-action"
           asp-area=""
           asp-controller="EducationShop"
           asp-action="ProductList"
           asp-route-instructorurl="@instructorViewModel.Url">@instructorViewModel.Name</a>
    }
</div>