@model CategoryListViewModel
<div class="list-group">
    <a class="list-group-item list-group-item-action @(Model.SelectedCategoryUrl=="" ? "active" : "")"
       asp-area=""
       asp-controller="EducationApp"
       asp-action="ProductList"
       asp-route-categoryurl=""
       asp-route-instructorurl="">Tüm Kitaplar</a>
    @foreach (var categoryViewModel in Model.CategoryViewModelList)
    {
        <a class="list-group-item list-group-item-action @(Model.SelectedCategoryUrl==categoryViewModel.Url ? "active" : "")"
           asp-area=""
           asp-controller="EducationApp"
           asp-action="ProductList"
           asp-route-categoryurl="@categoryViewModel.Url"
           asp-route-instructorurl="">@categoryViewModel.Name</a>
    }
</div>