<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EducationApp.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EducationApp.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EducationApp.MVC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                @await Html.PartialAsync("_MenuPartial")
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">EducationApp</h1>
                <p class="lead fw-normal text-white-50 mb-0">Hoş Geldiniz</p>
            </div>
        </div>
    </header>
    <br />
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="w-100 py-4 flex-shrink-0 bg-dark">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-white">Hakkımızda</h5>
                    <p class="small text-muted">Online eğitimler, internet üzerinden verilen eğitimlerdir. Öğrenciler, coğrafi sınırlamalardan bağımsız olarak, istedikleri yerden ve zamandan eğitim alabilirler. Online eğitimler, geniş bir konu yelpazesini kapsar ve çevrimiçi dersler, interaktif içerikler ve sanal sınıf ortamları aracılığıyla öğrencilere esnek, etkili ve erişilebilir bir öğrenme deneyimi sağlar.</p>
                    <p class="small text-muted mb-0">EducationApp &copy; Onur Ustaoğlu</p>
                </div>
                <div class="col-lg-2 col-md-6 d-flex justify-content-center ">
                    <ul class="navbar-nav">
                        <li class="text-white mb-3">Sayfalar</li>
                        <li><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                        <li><a class="nav-link text-light" asp-area="" asp-controller="Kategoriler" asp-action="Index">Kategoriler</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 ">
                    <ul class="social d-flex justify-content-between">
                        <a href="#"><i class="fa-brands fa-square-facebook fa-2xl" style="color: #1877f2;"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2xl" style="color: #c0701f;"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2xl" style="color: #498bce;"></i></a>
                        <a href="#"><i class="fa-brands fa-square-youtube fa-2xl" style="color: #ff0000;"></i></a>

                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Düşünceleriniz</h5>
                    <p class="small text-muted">Düşüncelerinizi bize mesaj yoluyla iletebilirsiniz. Teşekkürler, iyi çalışmalar</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Düşünceleriniz..." aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
