@model ProductViewModel
<div class="card h-100" style="width:350px; height:200px">
	<!-- Sale badge-->
	<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
	<!-- Product image-->
	<a asp-area="" asp-controller="EducationApp" asp-action="ProductDetails" asp-route-url="@Model.Url">
		<img src="~/images/products/@Model.ImageUrl" class="card-img-top" style="width:348px; height:200px" />
	</a>
	<!-- Product details-->
	<div class="card-body">
		<div class="text-center">
			<!-- Product name-->
			<h4 class="card-title fw-bolder">@Model.Name</h4>
			<div class="d-flex justify-content-center m-3">
				<div><i class="fa-solid fa-star fa-lg" style="color: #ffc800;"></i></div>
				<div><i class="fa-solid fa-star fa-lg" style="color: #ffc800;"></i></div>
				<div><i class="fa-solid fa-star fa-lg" style="color: #ffc800;"></i></div>
				<div><i class="fa-solid fa-star fa-lg" style="color: #ffc800;"></i></div>
				<div><i class="fa-solid fa-star fa-lg" style="color: #ffc800;"></i></div>
			</div>
			<h4>
				<span class="text-muted text-decoration-line-through">@($"{2000:C0}")</span>
				@($"{Model.Price:C0}")
			</h4>
		</div>
	</div>
	<!-- Product actions-->
	<div class="d-flex justify-content-center mb-3">
		<form asp-area=""
			  asp-controller="Cart"
			  asp-action="AddToCart"
			  method="post">
			<input type="hidden" asp-for="Id" />
			<button type="submit" class="btn btn-outline-success">Sepete Ekle</button>
			<input class="form-control d-inline p-1" style="width:50px;" type="number" name="quantity" min="1" max="9" value="1" />
		</form>
	</div>
</div>
